                /* start css loader ############ */
                
                h1 {
                    height: 100%;
                    /* The html and body elements cannot have any padding or margin. */
                    margin: 0;
                    font-size: 14px;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 32px;
                    margin-bottom: 3px;
                }
                
                .entry-header {
                    text-align: left;
                    margin: 0 auto 50px auto;
                    width: 80%;
                    max-width: 978px;
                    position: relative;
                    z-index: 10001;
                }
                
                .loader_content {
                    padding-top: 100px;
                }
                /* ############ */
                /*  start css go to the top button  ############  */
                
                #my_top_Btn {
                    display: none;
                    /* Hidden by default */
                    position: fixed;
                    /* Fixed/sticky position */
                    bottom: 20px;
                    /* Place the button at the bottom of the page */
                    right: 30px;
                    /* Place the button 30px from the right */
                    z-index: 99;
                    /* Make sure it does not overlap */
                    border: none;
                    /* Remove borders */
                    outline: none;
                    /* Remove outline */
                    background-color: rgb(57, 7, 151);
                    /* Set a background color */
                    color: white;
                    /* Text color */
                    cursor: pointer;
                    /* Add a mouse pointer on hover */
                    padding: 15px;
                    /* Some padding */
                    border-radius: 10px;
                    /* Rounded corners */
                    font-size: 18px;
                    /* Increase font size */
                }
                
                #my_top_Btn:hover {
                    background-color: rgb(196, 35, 35);
                    /* Add a dark-grey background on hover */
                }
                /* ############ */
                /* $$$$$$$$$$$ */
                /* ############ start term.html.css ############ */
                
                .terminalogy_header {
                    font-size: 30px;
                    font-weight: bold;
                }
                /* ############ */
                /* $$$$$$$$$$$ */
                /* ############ start obt_fru_obst.html.css ############ */
                
                * {
                    box-sizing: border-box;
                }
                
                body {
                    background-color: #f1f1f1;
                    padding: 20px;
                    font-family: Arial;
                }
                /* Center website */
                
                .main {
                    max-width: 1000px;
                    margin: auto;
                }
                
                h1 {
                    font-size: 50px;
                    word-break: break-all;
                }
                
                .row {
                    margin: 8px -16px;
                }
                /* Add padding BETWEEN each column (if you want) */
                
                .row,
                .row>.column {
                    padding: 8px;
                }
                /* Create three equal columns that floats next to each other */
                
                .column {
                    float: left;
                    width: 33.33%;
                    display: none;
                    /* Hide columns by default */
                }
                /* Clear floats after rows */
                
                .row:after {
                    content: "";
                    display: table;
                    clear: both;
                }
                /* Content */
                
                .content {
                    background-color: white;
                    padding: 10px;
                }
                /* The "show" class is added to the filtered elements */
                
                .show {
                    display: block;
                }
                /* Style the buttons */
                
                .btn {
                    border: none;
                    outline: none;
                    padding: 12px 16px;
                    background-color: white;
                    cursor: pointer;
                }
                /* Add a grey background color on mouse-over */
                
                .btn:hover {
                    background-color: #ddd;
                }
                /* Add a dark background color to the active button */
                
                .btn.active {
                    background-color: #666;
                    color: white;
                }
                /* end obt_fru_obst.html.css */
                
                .start_header {
                    font-style: oblique;
                    color: brown;
                    font-weight: 600px;
                    font-size: xx-large;
                }
                
                .btn_language {
                    background-color: rgb(172, 64, 64);
                }
                /* ############ */
                /*  Fotter CSS */
                
                address {
                    display: block;
                    font-style: italic;
                }
                /* ############ */
                /* ############ */
                /* .container-fluid {
    color: #f1f1f1;
    background-color: rgb(230, 231, 227);
    font-style: italic;
    font-weight: bolder;
} */
                /* start css Nav Bar ############ */
                
                .navbar-collapse {
                    background: rgb(254, 255, 251);
                }
                
                .nav-item {
                    color: #db352f;
                }
                
                .saab_navbar-nav {
                    /* background-color: rgb(35, 36, 35);
    color: #d2eb48; */
                    font-style: italic;
                    font-weight: bolder;
                }
                
                .nav-item:hover {
                    background-color: yellow;
                    font-weight: bold;
                }
                
                .dropdown-item:hover {
                    font-weight: bold;
                    /* color: rgb(162, 207, 90); */
                    background-color: rgb(248, 243, 241);
                }
                /* ############ */
                /* start CSS company Name at the top of############ */
                
                .saab_class_company_name {
                    text-align: center;
                    color: rgb(29, 28, 28);
                    text-shadow: 2px 8px 8px #b1a8a8;
                    font-size: 50px;
                    font-style: italic;
                    font-family: 'Times New Roman', Times, serif;
                }
                /* ############ */
                /* start email section css ############*/
                
                .saab_send_email_btn {
                    background-color: #339af0;
                }
                
                .saab_send_email_btn:hover {
                    background-color: #ff6b6b;
                }
                /* ############*/
                /* start css separetor ############*/
                
                .separetor {
                    background: url(../img/spr_0.png) no-repeat center center;
                    overflow: hidden;
                    padding: 20px 0px 30px 0px;
                    background-color: rgb(241, 241, 241);
                }
                
                .separetor_1 {
                    background: url(../img/spr_2.png) no-repeat center center;
                    overflow: hidden;
                    padding: 20px 0px 30px 0px;
                    background-color: rgb(241, 241, 241);
                }
                
                .separetor_2 {
                    background: url(../img/spr_2.png) no-repeat center center;
                    overflow: hidden;
                    padding: 20px 0px 30px 0px;
                    background-color: rgb(241, 241, 241);
                }
                /* ############*/
                /*start Оптовая_торговля_фруктами_овощами  botton ############*/
                
                .xyz {
                    background-size: auto;
                    text-align: center;
                    padding-top: 10px;
                }
                
                .btn-circle.btn-sm {
                    width: 30px;
                    height: 30px;
                    padding: 6px 0px;
                    border-radius: 15px;
                    font-size: 8px;
                    text-align: center;
                }
                
                .btn-circle.btn-md {
                    width: 50px;
                    height: 50px;
                    padding: 7px 10px;
                    border-radius: 25px;
                    font-size: 10px;
                    text-align: center;
                }
                
                .btn-circle.btn-xl {
                    width: 70px;
                    height: 70px;
                    padding: 10px 16px;
                    border-radius: 35px;
                    font-size: 12px;
                    text-align: center;
                }
                
                .saab_button_1 {
                    background-color: #339af0;
                }
                
                .saab_button_2 {
                    background-color: #30ac5f;
                }
                
                .saab_button_3 {
                    background-color: #f1ef53;
                }
                
                .saab_button_4 {
                    background-color: #f39292;
                }
                /* ############*/