<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!-- ? -->
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Prodimaks / Продимпэкс</title>


    <!--iOS -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/loader.css">


    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">


    <!-- My CSS -->
    <link href="../static/css/my_css.css" rel="stylesheet">
    <!-- <link href="{{ url_for('static', filename='css/my_css.css', _external=True) }}"> -->

    <!-- -->
    <!-- -->

</head>
<!--##############################################################-->

<body class="">
    <!-- <body class="demo"> -->
    <!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

    <!-- loader_content  -->
    <div id="container" classs="loader_content">



        <!-- start Loader #################################### -->
        {%block loader%} {% include 'lo.html' %} {%endblock%}
        <!-- end Loader ///////////////////////////////////// -->

        <!-- start Nav bar  #################################### -->
        {%block nav_bar%} {% include 'nav_bar.html' %} {%endblock%}
        <!-- end  Nav bar  ///////////////////////////////////// -->
        <div class="saab_div_company_name">
            <div class="separetor"></div>
            <h2 class="saab_class_company_name" id="saab_id_company_name"> Prodimaks / Продимпэкс</h2>
            <div class="separetor"></div>
        </div>

        <!-- start start_img  #################################### -->
        <div> <img src="/static/img/prod_log.jpg" class="img-fluid saab_img_small  " width="100%" height="auto" alt="... "></div> <br>
        <!-- end  end_img  ///////////////////////////////////// style="display: block;"-->


        <div> </div>
        <marquee onmouseover="this.stop()" onmouseout="this.start()"> <b> <p class="start_header" > 🚚 ...  Доставка и таможенное оформление грузов со всего мира по всей России                  </p>  <br>
        </b>

        </marquee>






        <!--1. start  index_text_contener_1 #### -->
        <div>
            <div class="container">{% block index_text_contener_1 %} {% endblock %} </div>
        </div>
        <!--  end index_text_contener_1 ///////////////////////////////////// -->

        <!--2. start  term #### -->
        <div>
            <div class="container">{% block term_1 %} {% endblock %} </div>
        </div>
        <!--  end term  ///////////////////////////////////// -->

        <!--3. start  obt_fru_obst #### -->
        <div>
            <div class="container">{% block obt_fru_obst_contener %} {% endblock %} </div>
        </div>
        <!--4.  end obt_fru_obst  ///////////////////////////////////// -->


        <!--5. start  useful_information_contener #### -->
        <div>
            <div class="container">{% block useful_information_contener %} {% endblock %} </div>
        </div>

        <!--  end useful_information_contener  ///////////////////////////////////// -->


        <!--6. start  kontakt page #### -->
        <div>
            <div class="container">{% block kontakt_contener %} {% endblock %} </div>
        </div>
        <!--  end kontakt page  ///////////////////////////////////// -->


        <!--7. start  Eng page #### -->
        <div>
            <div class="container">{% block Eng %} {% endblock %} </div>
        </div>
        <!--  end Eng page  ///////////////////////////////////// -->


        <div id="content">
            <h2> </h2>
        </div>

        <!--8. start  footer #### -->
        {# start fotter from footer.html#} {%block footer%} {% include 'footer.html' %} {%endblock%} {#end fotter from footer.html#}
        <!-- end  footer ///////////////////////////////////// -->
    </div>


    <!--###################################################################################-->

    <!-- start js section ###############################-->

    <!-- js Bootstrab-->
    <!-- <script type="text/javascript" href="../static/js/bootstrap.js"></script>-->
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <!--<script src="../static/js/bootstrap.bundle.js"></script>-->

    <!--start go to the button script-->
    <button id="my_top_Btn" class="btn btn-primary active" type="button" onclick="topFunction()" title="Go to top">△ Top</button>
    <script src="../static/js/verx_button.js"></script>

    <!--  js loader ################################### -->
    <script src="../static/js/vendor/modernizr-2.6.2.min.js"></script>
    <!--   <script src="../static/js/jquery.js"></script>-->
    <script src="../static/js/vendor/jquery-1.9.1.min.js"></script>
    <script src="../static/js/main.js"></script>



    <!--###################################################################################-->

    <!---->


</body>

</html>