{% extends "base.html" %} {% block page_title %} {{page_title}} {% endblock %} {% block Eng %}


<p>
    Delivery and customs clearance of cargo from around the world across Russia<br> We will undertake your cares
    <br> Our company offers the following services:<br> - Customs clearance of import cargo in Moscow, Moscow region and St. Petersburg. <br> - Transportation of your goods by road and sea transport from anywhere in the world.<br> - Assistance in preparing
    all the necessary documents for foreign trade. <br> - Insure your shipment. as well as:<br> - Development of various schemes;<br> - Determination of the customs value and optimization of customs duties; <br> - Preliminary calculation of payments;
    Individual approach to each client Currently, in addition to clearance of goods in customs, we offer a range of services to address any problems that arise in the implementation of foreign economic activity. <br> High professionalism and excellent
    reputation in customs, market knowledge, as well as strong partnerships with organizations working in the areas such as freight, insurance, certification, and security - all to ensure <br> Our company «prodimpeks» carries out wholesale trade in fruits
    and vegetables and is working with customers in all regions of Russia.<br> We provide delivery of the goods in the right quantities and at the optimum time, always guaranteeing the quality.<br> We offer the most favorable terms of cooperation for
    each client.<br> We offer our customers high-quality fruits and vegetables at reasonable prices. Our company tries to meet the needs of customers.<br> We work with suppliers from the Netherlands, Poland, Pakistan, Egypt.
</p>
{% endblock %}