{% extends "base.html" %} {% block page_title %} {{page_title}} {% endblock %} {% block index_text_contener_1 %}

<div id="saab_index_contenar_id" class="saab_index_contenar_class>" <!-- start_Haupt_Text -->
    <p class=" fw-bold ">Уважаемые господа!</p>

    <p class="fw-bold font-monospace">Наша компания предлагаем Вам следующие виды услуг: </p>

    <ul class="list-group">
        <li class="list-group-item">- Доставка и таможенное оформление грузов со всего мира по всей России.</li>
        <li class="list-group-item">- Перевозку ваших грузов автомобильным и морским транспортом из любой страны мира.</li>
        <li class="list-group-item">- Помощь в оформлении всех необходимых документов для осуществления внешнеэкономической деятельности. </li>
        <li class="list-group-item">- Страхование Вашего груза.</li>
    </ul>
    <br>
    <br>
    <p class="fw-bold font-monospace">а так же:</p>
    <ul class="list-group">
        <li class="list-group-item">- разработка различных схем;</li>
        <li class="list-group-item">- определение таможенной стоимости и оптимизация таможенных платежей;</li>
        <li class="list-group-item">- предварительный расчет платежей; Индивидуальный подход к каждому клиенту.</li>
    </ul>

    <br>
    <p class="text-start"> В настоящее время, помимо оформления товаров в таможенных органах, мы предлагаем спектр услуг по решению любых проблем, возникающих в процессе осуществления внешнеэкономической деятельности. Высокий профессионализм, отличная репутация в таможенных
        органах, знание рынка, а также тесные партнерские отношения с организациями, работающими в таких сферах, как перевозка грузов, страхование, сертификация и охрана - все это позволяет гарантировать
    </p>


    <p class="fw-bold font-monospace">Оптовая торговля фруктами и овощами</p>

    <ul class="list-group">
        <li class="list-group-item">
            Наша компания «Продимпэкс» осуществляет оптовую торговлю овощами и фруктами и сотрудничает с покупателями по всем регионам России. Мы обеспечиваем поставку товара в необходимых количествах и в оптимальные сроки, всегда гарантируя высокое качество.
        </li>
        <li class="list-group-item">
            Намипредлагаются наиболее выгодные условия сотрудничества для каждого клиента. Мы предлагаем для наших клиентов качественные овощи и фрукты по оптимальным ценам.
        </li>
        <li class="list-group-item">
            Наша компания старается максимально обеспечить потребности клиентов. Мы работаем с поставщиками из Голландии, Польши, Пакистана, Египта.
        </li>
    </ul>

    {% endblock %}


</div>

<!-- {% block botstrab_style%}{% endblock %} -->