{% extends "base.html" %} {% block page_title %} {{page_title}} {% endblock %} {% block kontakt_contener%}
<!-- <div class="container container_footer"> -->

<!-- start contact us Section -->


{%if error_statment%} {{error_statment}} {%endif%}

<section id="Contact_us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12">
                <div class="title_sec">
                    <p></p>
                    <h2></h2>
                    <h1>Contact us !</h1>

                </div>
            </div>


            <div class="col-sm-6">
                <div id="cnt_form">
                    <!-- email/send_em.py            -->
                    <!-- -->
                    <!-- action="../static/php/send-mail.php" -->
                    <form enctype="multipart/form-data" id="contact-form" class="contact" name="contact-form" method="post" action="{{ url_for( 'send_email_func') }}">


                        <fieldset>
                            <legend>
                                You can send us an E-Mail ...
                                <!-- <a class="page-scroll" href=" appointment.html">
                                      Jetzt einen Termin buchen
                                  </a> -->
                            </legend>
                            <div class="form-group">
                                <input type="text" name="sender_name" class="form-control name-field" required="required" placeholder="Your Name" />
                            </div>

                            <div class="form-group">
                                <input type="email" name="sender_email" class="form-control mail-field" required="required" placeholder="Your Email" />
                            </div>

                            <div class="form-group">
                                <input type="tel" name="sender_tel" class="form-control name-field" required="required" placeholder="Handynummer" />
                            </div>
                            <div class="form-group">
                                <textarea name="sender_message" id="sender_message" required="required" class="form-control" rows="8" placeholder="Message"></textarea>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Attachment
                                      <input type="file" name="file[]" multiple="multiple" />

                                  </label>

                                <!-- <textarea name="Datei_Hochladen" id="Datei_Hochladen" required="required" class="form-control" placeholder="Datei Hochladen"></textarea>
                         -->
                            </div>

                            <div class="form-group">
                                <button name="button" type="submit" class="btn btn-primary saab_send_email_btn" value="Submit">
                                      Send
                                  </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cnt_info">
                    <ul>
                        <li>
                            <!-- <i class="fa fa-map-marker" aria-hidden="true"></i> -->
                            <p>🚩 : Москва 125167, Ул Ленинградский проспект </p>
                        </li>
                        <li>
                            <!-- <i class="fa fa-envelope"></i> -->
                            <p>✉ : prodimpeks@mail.ru</p>
                        </li>
                        <li>
                            <!-- <i class="fa fa-phone"></i> -->
                            <p>☎ : +7(495) 995-75-73 </p>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End contact us  Section -->


{%endblock%}