<!-- Nav bar start -->
<!-- https://getbootstrap.com/docs/5.1/components/navbar/ -->

{% block nav_bar %}



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <!-- <a class="nav-link " aria-current="page" href="#">Home</a>
 -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>



        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">



                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for( 'index') }}">  {{var_top_nav_bar[0]}} </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="{{ url_for( 'useful_info') }}">  {{var_top_nav_bar[1]}} </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="{{ url_for( 'term') }}">  {{var_top_nav_bar[2]}} </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="{{ url_for( 'obt_fru_obst') }}">  {{var_top_nav_bar[3]}} </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="{{ url_for( 'kontakt') }}">  {{var_top_nav_bar[4]}} </a>
                </li>

                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li> -->





                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sprache
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">{{var_language[1]}}</a></li>
                        <li><a class="dropdown-item" href="#">{{var_language[2]}} </a></li>
                        <li><a class="dropdown-item" href="#">{{var_language[3]}}</a></li>


                        <!-- <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li> -->



                    </ul>
                </li>

            </ul>

        </div>
    </div>
</nav>


<!-- <div id="saab_play_when_small_screen">

    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h5 class="text-white h4">Collapsed content</h5>
            <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
    </nav>




</div> -->

{%endblock%}