 {% extends "base.html" %} {% block page_title %} {{page_title}} {% endblock %} {% block term_1 %}


<!-- 
<details>
    <summary>

    </summary>
</details>

-->
<h2> Терминология</h2>

<details>
    <summary class="terminalogy_header"> Акцизы </summary>
    <p> Косвенные налоги, включаемые в цену товара и оплачиваемые покупателем. </p>
</details>

<details>
    <summary class="terminalogy_header">
        Аннулирование
    </summary>
    <p> Признание таможенной декларации недействительной.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Бартерная сделка
    </summary>
    <p>Безвалютная экспортно-импортная сделка, при которой оплата поставляемых товаров или услуг осуществляется не в денежной, а в товарной форме. В контракте по такой сделке оговариваются либо эквивалентные по стоимости количества взаимопоставляемых товаров,
        либо сумма, на которую стороны обязуются поставить конкретные товары. </p>
</details>

<details>
    <summary class="terminalogy_header">
        Беспошлинный ввоз Ввоз
    </summary>
    <p>в страну некоторых товаров и предметов иностранного происхождения без обложения их таможенными пошлинами. Данный режим устанавливается актами законодательства страны ввоза - чаще всего в целях содействия импорту товаров, не производимых или производимых
        в этой стране в недостаточных объемах. Право на беспошлинный ввоз предметов официального пользования для дипломатических представительств иностранных государств и международных организаций является одним из элементов дипломатических льгот.</p>

</details>

<details>
    <summary class="terminalogy_header">
        Вес брутто
    </summary>
    <p>Вес товара вместе с упаковкой: внутренней (неотделимой от товара до его потребления) и внешней - тарой (ящики, мешки, бочки и т. д.). </p>
</details>


<details>
    <summary class="terminalogy_header">
        Вес нетто Чистый вес товара
    </summary>
    <p>без упаковки. При исчислении таможенной пошлины в ряде стран в вес нетто включается и вес упаковки расфасованных товаров, неотделимой от товара до его потребления (коробок спичек, пачка сигарет, коробка конфет, флакон духов и пр.).</p>
</details>


<details>
    <summary class="terminalogy_header">
        Временный ввоз
    </summary>
    <p>Временный ввоз иностранных товаров на территорию России для переработки - таможенная процедура, согласно которой иностранные товары могут быть временно ввезены на территорию России беспошлинно либо, по усмотрению таможенных органов, с оплатой импортными
        пошлинами, возвращаемыми при вывозе компенсационных товаров. Временный вывоз Временный вывоз российских товаров для переработки - процедура, согласно которой российские товары могут быть вывезены за границу беспошлинно либо, по усмотрению таможенных
        органов, с оплатой экспортными пошлинами, возвращаемыми после ввоза в Россию компенсационных товаров.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Выпуск
    </summary>
    <p> Передача таможенными органами Российской Федерации товаров или транспортных средств после их таможенного оформления в полное распоряжение лица.</p>
</details>


<details>
    <summary class="terminalogy_header">
        Выпуск условный
    </summary>
    <p>Выпуск товаров и транспортных средств, сопряженный с обязательствами лица (ссылка на Лица) о соблюдении установленных ограничений, требований или условий. </p>
</details>


<details>
    <summary class="terminalogy_header">
        Выпуск товаров для свободного обращения
    </summary>
    <p> Таможенный режим, при котором ввозимые на таможенную территорию Российской Федерации товары остаются постоянно на этой территории, без права их дальнейшего вывоза.</p>
</details>



<details>
    <summary class="terminalogy_header">
        Гармонизированная система описания и кодирования товаров (ГС)
    </summary>
    <p> Многоцелевая товарная номенклатура, в основу построения которой заложена совокупность различных признаков товаров - прежде всего, таких как степень обработки, назначение, вид материала, из которого изготовлен товар, - и значение товара в мировой торговле,
        что отвечает потребностям таможенных органов, статистических служб и коммерческой деятельности. Является приложением к Международной конвенции о Гармонизированной системе описания и кодирования товаров, вступившей в силу 1 января 1988 г. ГС применяют
        более 100 государств.</p>

</details>

<details>
    <summary class="terminalogy_header">
        Генеральное соглашение по тарифам и торговле (ГАТТ)
    </summary>
    <p> Международное соглашение, вступившее в силу 1 января 1948 г. для 23 первоначально подписавших его стран. Сейчас в ГАТТ более 100 полноправных членов, а 55 стран и 32 международные организации имеют здесь статус наблюдателей. Основу взаимоотношений
        стран - участниц ГАТТ составляют принципы наибольшего благоприятствования и отмены количественных ограничений. По существу ГАТТ выполняет своеобразную роль "конституции" мировой торговли. В нем аккумулирован богатый опыт функционирования внешнеэкономического
        механизма в рыночных условиях.</p>
</details>


<details>
    <summary class="terminalogy_header">
        Генеральный груз
    </summary>
    <p> Собирательный термин для тарных и штучных грузов, перевозимых на морских судах сборными партиями.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Государство назначения
    </summary>
    <p> Любое государство, подписавшее или присоединившееся к Соглашению "О порядке таможенного оформления транзитных грузов", являющееся местом окончательного назначения грузов, ввозимых из третьих государств транзитом через территорию других государств
        - участников настоящего Соглашения.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Государство отправления
    </summary>
    <p> Любое государство, подписавшее или присоединившееся к Соглашению "О порядке таможенного оформления транзитных грузов", с территории которого груз вывозится в третьи государства транзитом через территорию других государств - участников настоящего соглашения.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Груз
    </summary>
    <p> Товар, находящийся в процессе транспортировки. По условиям перевозки различают грузы генеральные (тарно-штучные), навалочные, наливные, скоропортящиеся, опасные и т. д.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Гуманитарная помощь
    </summary>
    <p> Безвозмездно передаваемые юридическим и физическим лицам продовольствие, товары народного потребления первой необходимости, иные предметы, направляемые из зарубежных стран в Россию для улучшения условий жизни и быта малообеспеченныx групп населения.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Давальческие товары
    </summary>
    <p>Товары, временно ввозимые из-за границы на территорию страны, либо временно вывозимые из страны за границу для переработки - с последующим возвращением в страну происхождения в виде компенсационных товаров. Давальческие товары ввозятся (вывозятся)
        беспошлинно или под оплату таможенной пошлиной, которая возвращается при вывозе (ввозе) компенсационных товаров.</p>
</details>


<details>
    <summary class="terminalogy_header">
        Декларант
    </summary>
    <p> Лицо, перемещающее товары через таможенную границу. Также - таможенный брокер (посредник), заявляющий (декларирующий), представляющий и предъявляющий товары и транспортные средства в целях таможенного оформления от своего имени.</p>
</details>



<details>
    <summary class="terminalogy_header">
        Декларирование
    </summary>
    <p> Заявление таможне по установленной форме (письменной, устной или иной) точных сведений о перемещаемых через границу Российской Федерации транспортных средствах, товарах и иных предметах, о цели их перемещения и о других данных, необходимых для таможенного
        контроля и оформления.</p>
</details>


<details>
    <summary class="terminalogy_header">
        Демереж
    </summary>
    <p> Предварительно согласованная дополнительная плата владельцу судна со стороны грузовладельца (фрахтователя) в связи с контросталией.</p>
</details>


<details>
    <summary class="terminalogy_header">
        Демпинг
    </summary>
    <p> Бросовой экспорт, продажа товаров на внешних рынках по ценам более низким, чем на внутреннем рынке (как правило, ниже издержек производства). Является одним из средств конкурентной борьбы.
    </p>
</details>


<details>
    <summary class="terminalogy_header">
        Досмотровая роспись
    </summary>
    <p>Таможенный документ, применяемый в нашей стране для оформления процедуры взимания таможенной пошлины в неторговом обороте. В досмотровой росписи указывается: наименование предметов, облагаемых пошлиной, их отличительные признаки, количество или вес,
        статьи таможенного тарифа, в соответствии с которыми начисляется пошлина, и сумма пошлины. Надлежаще оформленная копия досмотровой росписи выдается плательщику.</p>
</details>



<details>
    <summary class="terminalogy_header">
        Зоны таможенного контроля
    </summary>
    <p>Пункты пропуска через государственную границу РФ и прилегающие к ним территории, на которых должностными лицами таможни производится таможенный контроль, а также территории и помещения предприятий и организаций, осуществляющих хранение товаров и иных
        предметов под таможенным контролем. Зона таможенного контроля определяется таможней совместно с пограничными войсками или самостоятельно. Зоны таможенного контроля и пределы такой территории контролируются таможней.</p>
</details>




<details>
    <summary class="terminalogy_header">
        Квитанция складская
    </summary>
    <p> Расписка, вручаемая таможенным складом владельцу товара или иных предметов. Складская квитанция удостоверяет, что товары или иные предметы, перечисленные в ней, приняты на хранение на определенный срок за установленную плату и подлежат выдаче либо
        самому владельцу, либо лицу, действующему по его надлежаще оформленной доверенности.</p>
</details>



<details>
    <summary class="terminalogy_header">
        Квотирование и лицензирование экспорта и импорта
    </summary>
    <p> Количественные или стоимостные ограничения вывоза и ввоза, вводимые на определенный срок по отдельным товарам (работам, услугам), странам либо группам стран. Используется как нетарифное средство регулирования экспортно-импортных операций. В международной
        торговле применяется в случаях, когда этого требуют экономические, политические условия или состояние платежных отношений. Используется в качестве регулятора спроса и предложения на внутреннем рынке. Может служить в качестве ответной меры на дискриминационные
        акции зарубежных торговых партнеров. В практике ряда стран известны так называемые тарифные квоты, в пределах стоимости либо количества которых импортируемые товары облагаются таможенными пошлинами в обычном размере. В случае же превышения установленных
        ограничений к товарам применяются повышенные ставки пошлин.</p>
</details>



<details>
    <summary class="terminalogy_header">
        Комбинированные таможенные пошлины
    </summary>
    <p>Пошлины, сочетающие в себе два других вида таможенных пошлин (по методу их исчисления) - адвалорные и специфические.</p>

</details>



<details>
    <summary class="terminalogy_header">
        Компенсационные товары
    </summary>
    <p>Товары, полученные в результате переработки временно ввезенных из-за границы на территорию Российской Федерации иностранных товаров.</p>
</details>




<details>
    <summary class="terminalogy_header">
        Коносамент
    </summary>
    <p> Разновидность ценных (товарных) бумаг; расписка агента транспортной фирмы (судна, самолета) грузоотправителю о принятии груза к перевозке с обязательством выдать груз в пункте назначения его представителю. В коносаменте указываются: наименование транспортного
        средства; перевозчик; отправитель; получатель; место приема или погрузки; назначение груза; наименование груза; фрахт и др. причитающиеся перевозчику платежи; время и место выдачи коносамента; число составленных экземпляров. Передача коносамента
        осуществляется по правилам передачи ценных бумаг и равносильна передаче груза. Коносамент является одним из основных документов, необходимых при таможенном контроле за грузами, перевозимыми морским сообщением.</p>

</details>



<details>
    <summary class="terminalogy_header">
        Коносамент сквозной
    </summary>
    <p>Коносамент, который выдается в случае доставки груза по назначению не непосредственно данным судном, а с перевалкой на другое судно или другое транспортное средство (автотранспорт, железная дорога). Осуществляется по договоренности разных перевозчиков
        о совместной перевозке грузов или одним перевозчиком, который обслуживает несколько пересекающихся между собой линий. Сквозной коносамент типичен при контейнерных перевозках. Контрольная поставка Предусмотренный законодательством нашей страны
        метод, применяемый в целях пресечения международного незаконного оборота наркотиков и выявления лиц, участвующих между собой линий. Сквозной коносамент типичен при контейнерных перевозках. </p>
</details>




<details>
    <summary class="terminalogy_header">
        Контрольная поставка
    </summary>
    <p>Предусмотренный законодательством нашей страны метод, применяемый в целях пресечения международного незаконного оборота наркотиков и выявления лиц, участвующих в таком обороте. Метод контрольной поставки заключается в том, что таможенные органы РФ
        по договоренности с таможенными или иными компетентными органами одной или нескольких стран в том или ином конкретном случае допускают под своим контролем ввоз в РФ, вывоз из РФ или транзит через ее территорию наркотиков, не возбуждая дела по
        этому факту. Конечной целью метода является установление, а затем и арест лиц, участвовавших в незаконном перемещении и получении наркотиков.</p>
</details>



<details>
    <summary class="terminalogy_header">
        Контросталия
    </summary>
    <p> Время простоя судна в порту сверх обусловленного договором морской перевозки, в связи с ожиданием погрузки либо выгрузки, или же под грузовыми работами. Контросталия оплачивается по специальной ставке - демережу.</p>
</details>




<details>
    <summary class="terminalogy_header">
        Кредит таможенный
    </summary>
    <p> Отсрочка уплаты таможенной пошлины, предоставляемая законодательством страны или таможенными органами либо под залог имущества, либо при условии предоставления плательщиком гарантии платежа и уплаты процентов на сумму пошлины за период отсрочки.</p>
</details>




<details>
    <summary class="terminalogy_header">
        Лица
    </summary>
    <p> Предприятия, учреждения и организации, а также физические лица.</p>
</details>




<details>
    <summary class="terminalogy_header">
        Лица иностранные
    </summary>
    <p> Лица, не являющиеся российскими лицами.</p>
</details>




<details>
    <summary class="terminalogy_header">
        Лица российские
    </summary>
    <p> Предприятия, учреждения и организации с местонахождением в Российской Федерации, созданные в соответствии с законодательством Российской Федерации; лица, занимающиеся предпринимательской деятельностью без образования юридического лица, зарегистрированные
        на территории Российской Федерации; граждане Российской Федерации, имеющие постоянное местожительство в Российской Федерации.</p>

</details>


<details>
    <summary class="terminalogy_header">
        Лица, перемещающие товары
    </summary>
    <p> Лица, являющиеся собственниками товаров, их покупателями, владельцами либо выступающие в ином качестве, достаточном, в соответствии с законодательством Российской Федерации, для совершения с товарами действий, предусмотренных Таможенным Кодексом,
        от собственного имени.
    </p>
</details>



<details>
    <summary class="terminalogy_header">
        Лицензия
    </summary>
    <p> 1) Разрешение на осуществление внешнеторговых операций (различают экспортные и импортные лицензии), которое выдается компетентным государственным органом (например, Министерство внешних экономических связей). Лицензия - одна из форм государственногоконтроля
        за экспортом и импортом товаров, а также за расходованием иностранной валюты. 2) Разрешение на использование изобретений и других результатов научных исследований и опытно-конструкторских разработок.</p>
</details>



<details>
    <summary class="terminalogy_header">
        Лицо, ответственное за финансовое урегулирование
    </summary>
    <p>Российское лицо, заключившее внешнеторговую сделку купли-продажи или мены и осуществляющее расчеты по ней. </p>
</details>



<details>
    <summary class="terminalogy_header">
        Магазин беспошлинной торговли
    </summary>
    <p>Организуемые в местах, определяемых таможенными органами РФ, торговые предприятия для розничной продажи на таможенной территории России товаров, не облагаемых таможенными пошлинами.</p>
</details>



<details>
    <summary class="terminalogy_header">
        Манифест

    </summary>
    <p> Документ, содержащий перечень коносаментов и передаваемый судовой администрацией таможенным органам данной страны, а также судовому агенту и стивидору.</p>

</details>


<details>
    <summary class="terminalogy_header">
        Маркировка
    </summary>
    <p> Наносимое на упаковку грузового места условное обозначение, содержащее данные, необходимые для надлежащей перевозки и сдачи груза получателю. Применяются следующие виды маркировки: товарная, отправительская, специальная, транспортная. Маркировка является
        одним из существенных объектов таможенного контроля за грузами.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Меры экономической политики
    </summary>
    <p> Ограничения на ввоз в Российскую Федерацию и вывоз из Российской Федерации товаров и транспортных средств, установленные исходя из соображений экономической политики Российской Федерации и могущие включать в себя квотирование, лицензирование, установление
        минимальных и максимальных цен, а также другие меры регулирования взаимодействия российской экономики с мировым хозяйством.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Меры нетарифного регулирования
    </summary>
    <p>Ограничения на ввоз в Российскую Федерацию и вывоз из Российской Федерации товаров и транспортных средств, установленные исходя из соображений экономической политики Российской Федерации, выполнения международных обязательств Российской Федерации,
        защиты экономической основы суверенитета Российской Федерации, защиты внутреннего потребительского рынка, в качестве ответной меры на дискриминационные или другие ущемляющие интересы российских лиц акции иностранных государств и их союзов и по
        другим достаточно важным основаниям - в соответствии с федеральными законами, иными нормативными, правовыми актами Российской Федерации и международными договорами Российской Федерации (лицензирование, установление минимальных и максимальных цен,
        сертификация, разрешительная система и т. п.), доводимые в установленном порядке до таможенных органов Российской Федерации.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Накладная
    </summary>
    <p>Документ, подтверждающий наличие договора между грузоотправителем и перевозчиком о перевозке груза: по авиалиниям (авиагрузовая накладная), по автодорогам (автодорожная накладная), по железным дорогам (железнодорожная накладная), по рекам либо в смешанном
        железнодорожно-водном сообщении. Н. заполняется грузоотправителем и содержит сведения об отправителе и получателе груза, пунктах отправления и назначения, данные о грузе. Накладная - один из основных документов, необходимых при таможенном контроле
        за грузами.
    </p>
</details>

<details>
    <summary class="terminalogy_header">
        Накопительный зал
    </summary>
    <p>Непосредственно примыкающий к досмотровому помещению зал или иное достаточно просторное помещение в зданиях вокзалов транспортных организаций, оборудованное стойками или столами для заполнения таможенных деклараций, а также креслами и стульями для
        отдыха. Предназначен для концентрации лиц перед прохождением таможенного контроля по прибытии из-за границы либо при следовании за границу.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Налог на добавленную стоимость
    </summary>
    <p>Форма изъятия в бюджет части прироста стоимости, создаваемый на всех стадиях производства и определяемой как разница между стоимостью реализованных товаров, работ и услуг и стоимостью материальных затрат, отнесенных на издержки производства и обращения.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Налоги
    </summary>
    <p>Налоги, взимание которых возложено на таможенные органы Российской Федерации. </p>
</details>

<details>
    <summary class="terminalogy_header">
        Негабаритный груз
    </summary>
    <p>Груз, как в упаковке, так и перевозимый без тары, длина, ширина или высота которого превосходят допустимые при транспортировке обычные размеры.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Образцы и пробы
    </summary>
    <p>Минимальные количества товаров, иных предметов, тождественные по структуре, составу и свойствам всей партии этих товаров и предметов, и достаточные для проведения их исследования. Таможня вправе требовать образцы и пробы, а таможенные лаборатории
        - проводить их экспертизу для правильного обложения таможенной пошлиной или в других целях таможенного оформления, а также для обеспечения защиты интересов российских потребителей. </p>
</details>

<details>
    <summary class="terminalogy_header">
        Операции экспортные
    </summary>
    <p>Операции, связанные с перемещением товаров и транспортных средств с таможенной территории Российской Федерации (вывоз товаров).</p>
</details>

<details>
    <summary class="terminalogy_header">
        Операции импортные
    </summary>
    <p>Операции, связанные с перемещением товаров и транспортных средств на таможенную территорию Российской Федерации (ввоз товаров).</p>
</details>

<details>
    <summary class="terminalogy_header">
        Отказ от товара в пользу государства
    </summary>
    <p> Таможенный режим, при котором лицо отказывается от товара без взимания таможенных пошлин, налогов, а также без применения мер экономической политики.</p>
</details>


<details>
    <summary class="terminalogy_header">
        Отправитель
    </summary>
    <p>Указанное в транспортном документе лицо, совершающее действие по загрузке товаров и передаче их перевозчику с целью вывоза с таможенной территории Российской Федерации.</p>
</details>


<details>
    <summary class="terminalogy_header">
        Перевозчик
    </summary>
    <p> Лицо, фактически перемещающее товары либо являющееся ответственным за использование транспортного средства.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Перемещение через таможенную границу российской Федерации
    </summary>
    <p>Совершение действий по ввозу на таможенную территорию Российской Федерации или вывозу с этой территории товаров или транспортных средств любым способом, включая пересылку в международных почтовых отправлениях, использование трубопроводного транспорта
        и линий электропередач. К указанным действиям относятся: при ввозе товаров или транспортных средств на таможенную территорию Российской Федерации и при ввозе с территории свободных таможенных зон и со свободных складов на остальную часть таможенной
        территории Российской Федерации - фактическое пересечение таможенной границы Российской Федерации; при вывозе товаров или транспортных средств с таможенной территории Российской Федерации, и при ввозе товаров или транспортных средств с остальной
        части таможенной территории Российской Федерации на территорию свободных таможенных зон и на свободные склады - подача таможенной декларации или иное действие, непосредственно направленное на реализацию намерения соответственно вывезти либо ввезти
        товары или транспортные средства.
    </p>
</details>

<details>
    <summary class="terminalogy_header">
        Переработка товаров вне таможенной территории
    </summary>
    <p>Таможенный режим, при котором российские товары вывозятся без применения к ним мер экономической политики и используются вне таможенной территории Российской Федерации с целью их переработки и последующего выпуска продуктов переработки в свободное
        обращение на таможенной территории Российской Федерации с полным или частичным освобождением от таможенных пошлин и налогов, а также без применения к товарам мер экономической политики.</p>
</details>


<details>
    <summary class="terminalogy_header">
        Переработка товаров на таможенной территории
    </summary>
    <p>
        Таможенный режим, при котором иностранные товары используются в установленном порядке для переработки на таможенной территории Российской Федерации без применения мер экономической политики и с возвратом сумм ввозных таможенных пошлин и налогов при условии
        вывоза в соответствии с таможенным режимом экспорта продуктов переработки за пределы таможенной территории Российской Федерации.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Переработка товаров под таможенным контролем
    </summary>
    <p> Таможенный режим, при котором иностранные товары используются в установленном порядке на таможенной территории Российской Федерации без взимания таможенных пошлин и налогов, а также без применения к товарам мер экономической политики для переработки
        под таможенным контролем с последующим выпуском для свободного обращения или помещением продуктов переработки под иной таможенный режим.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Получатель
    </summary>
    <p>Указанное в транспортном документе лицо, которому предназначены ввозимые на территорию Российской Федерации товары.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Пошлина возвратная
    </summary>
    <p> Сумма ввозных таможенных пошлин, подлежащая возврату плательщику при вывозе готовой продукции, полученной в результате обработки или переработки ранее ввезенных и оплаченных пошлиной товаров. Является одним из средств повышения конкурентоспособности
        цен экспортных товаров. Основания и порядок выплаты возвратной пошлины определяются национальным законодательством.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Пошлина таможенная
    </summary>
    <p>Платеж, взимаемый таможенными органами Российской Федерации при ввозе товара на таможенную территорию Российской Федерации или при вывозе товара с этой территории и являющийся неотъемлемым условием такого ввоза или вывоза.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Пошлины адвалорные таможенные
    </summary>
    <p>Один из видов таможенных пошлин по методу их исчисления - пошлины, начисляемые в процентах к таможенной стоимости облагаемых товаров и иных предметов.</p>

</details>

<details>
    <summary class="terminalogy_header">
        Приграничная торговля
    </summary>
    <p>Вид международного товарообмена, осуществляемого предприятиями и организациями приграничных районов сопредельных государств на основе соглашений о торговле и платежах, а также ежегодных протоколов. Пропуск через таможенную границу товаров и иных предметов
        в рамках П.т. обычно регулируется специальными таможенными правилами.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Процедура таможенного транзита
    </summary>
    <p> Установленный порядок транзитной перевозки грузов под таможенным контролем от таможни государства отправления до таможни государства назначения через государства транзита.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Реимпорт товара
    </summary>
    <p> Таможенный режим, при котором российские товары, вывезенные с таможенной территории Российской Федерации в соответствии с таможенным режимом экспорта, ввозятся обратно в установленные сроки без взимания таможенных пошлин, налогов, а также без применения
        к товарам мер экономической политики.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Реэкспорт товаров
    </summary>
    <p>Таможенный режим, при котором иностранные товары вывозятся с таможенной территории Российской Федерации без взимания или с возвратом ввозных таможенных пошлин и налогов и без применения мер экономической политики в соответствии с Кодексом и иными
        актами законодательства Российской Федерации по таможенному делу.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Свободная таможенная зона и свободный склад
    </summary>
    <p>Таможенные режимы, при которых иностранные товары размещаются и используются в соответствующих территориальных границах или помещениях (местах) без взимания таможенных пошлин, налогов, а также без применения к указанным товарам мер экономической политики,
        а российские товары размещаются и используются на условиях, применяемых к вывозу в соответствии с таможенным режимом экспорта, в порядке, определяемом Таможенным кодексом Российской Федерации.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Сертификат
    </summary>
    <p>Документ, удостоверяющий тот или иной факт. Во внешней торговле существуют различные виды сертификатов: а) сертификат качества - документ, выдаваемый компетентными органами и удостоверяющий качество товара; б) сертификат происхождения - документ,
        подписанный таможенным лицом страны - экспортера, указывающий, из какой именно страны экспортируется товар; в) страховой сертификат - документ, содержащий условия страхового договора и заменяющий страховой полис.</p>
</details>


<details>
    <summary class="terminalogy_header">
        Совет таможенного сотрудничества (СТС)
    </summary>
    <p> Международная межправительственная организация, учрежденная на основе Конвенции, подписанной в 1950 году и вступившей в силу 4 ноября 1952 г. В состав СТС входит свыше 110 стран. Главная задача Совета - улучшение, упрощение и унификация таможенной
        деятельности. Являясь ключевым звеном международной системы сотрудничества государств по таможенным вопросам, СТС обеспечивает функционирование 15 конвенций.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Совокупный таможенный платеж
    </summary>
    <p>Взимаемая без деления на источники сумма, эквивалентная сумме таможенных пошлин, налога на добавленную стоимость, акцизов и иных налогов, взимание которых возложено на таможенные органы, а также таможенных сборов и иных причитающихся к уплате таможенных
        платежей.
    </p>
</details>

<details>
    <summary class="terminalogy_header">
        Срок доставки
    </summary>
    <p> Срок, в течение которого принятые к перевозке между таможнями товары и транспортные средства, а также документы на них должны быть доставлены в таможню назначения. С.д. устанавливается таможней отправления в соответствии с обычными сроками доставки,
        исходя из возможностей вида транспорта, используемого для такой перевозки, намечаемого маршрута и других условий транспортировки.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Стоимость таможенная
    </summary>
    <p>Для ввозимых товаров: стоимость товаров, определяемая в соответствии с Законом Российской Федерации "О таможенном тарифе". Для вывозимых товаров при сделках купли-продажи или мены: стоимость товаров, определяемая на основе цены уплаченной или подлежащей
        уплате за вывозимые товары, указанной в счете фактуре (счете проформе) с учетом расходов по доставке товаров (транспортировка, погрузка, выгрузка, страхование) до места вывоза с таможенной территории Российской Федерации, а также других необходимых
        корректировок. Для вывозимых товаров в иных случаях: стоимость, определяемая на основе цены, подтвержденной коммерческими, транспортными, банковскими, бухгалтерскими и другими документами, содержащими сведения о стоимости оцениваемых или идентичных/однородных
        товаров, с учетом расходов по доставке товаров до места вывоза с таможенной территории Российской Федерации.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Стоимость фактурная
    </summary>
    <p> Цена товаров, фактически уплаченная или подлежащая уплате, либо компенсируемая встречными поставками товаров в соответствии с условиями внешнеторговой сделки (договора) купли-продажи или мены.</p>

</details>
<details>
    <summary class="terminalogy_header">
        Страна торгующая
    </summary>
    <p> Государство, на территории которого зарегистрировано (проживает) лицо независимо от его национальной принадлежности, с которым российское лицо заключило договор.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Счет - фактура
    </summary>
    <p> Документ, выписываемый продавцом на имя покупателя и удостоверяющий фактическую поставку товара и его стоимость. Может быть использован в качестве накладной, направляемой с товаром. По требованию таможенных органов во многих странах Счет-фактура выписывается
        на бланках установленной формы и является базой для начисления таможенной пошлины на товар.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Таможенная задолженность
    </summary>
    <p> Сумма неуплаченных таможенных пошлин, налогов и сборов, которая подлежала уплате за товар на момент его выдачи со склада с соблюдением действующего порядка таможенного оформления.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Таможенное оформление
    </summary>
    <p>Процедура помещения товаров и транспортных средств под определенный таможенный режим и завершения действия этого режима в соответствии с требованиями и положениями Таможенного Кодекса.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Таможенные аукционы

    </summary>
    <p> Реализация в форме публичных торгов с соблюдением всех условий, присущих этому виду продажи, предметов, конфискованных по делам о контрабанде и нарушении таможенных правил, а также товаров и иных предметов, хранившихся под таможенным контролем и не
        востребованных их распорядителями до истечения срока хранения. Согласно законодательству, должностные лица таможенных органов нашей страны, а также члены их семей, не могут сами или через посредника приобретать товары и иные предметы на таможенных
        аукционах.
    </p>
    <details>

    </details>
    <summary class="terminalogy_header">
        Таможенные лаборатории
    </summary>
    <p> Центральная таможенная лаборатория (ЦТЛ) и подчиненные ей региональные таможенные лаборатории являются экспертно - исследовательскими учреждениями системы таможенных органов РФ, осуществляющими материаловедческие исследования и товароведческие экспертизы
        товаров (веществ, материалов, изделий), перемещаемых через таможенную границу страны.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Таможенные льготы
    </summary>
    <p> Преимущества, предоставляемые физическим или юридическим лицам при ввозе, вывозе или транзите товаров, ценностей, личных вещей, других предметов. Т.л. проявляются как благоприятные исключения из общеприменимого таможенного режима. Предоставляются
        в виде освобождения от уплаты таможенной пошлины или сборов, либо упрощенной процедуре пропуска через таможенную границу товаров, личных вещей, либо полного неприменения таких процедур.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Таможенные обеспечения
    </summary>
    <p> Пломбы, печати и иные средства, налагаемые на транспортные средства, помещения, емкости и другие места, содержащие товары и иные предметы, подлежащие таможенному контролю и не пропущенные через таможенную границу страны, с тем, чтобы доступ к этим
        товарам и предметам был невозможен без нарушения этих средств.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Таможенные обследования
    </summary>
    <p>Одна из форм таможенного контроля, осуществляемая должностными лицами таможенных органов на территории либо в помещениях предприятий и организаций или в принадлежащих им транспортных средствах, если есть основания полагать, что на таких территориях,
        в помещениях или транспортных средствах находятся предметы, являющиеся непосредственными объектами нарушения таможенных правил, или предметы со специально изготовленными тайниками, использованными для незаконного перемещения через таможенную границу
        РФ таких предметов, а также документы, необходимые для рассмотрения дела о нарушении таможенных правил.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Таможенные органы Российской Федерации
    </summary>
    <p>Единая система, которая включает в себя Государственный таможенный комитет, региональные таможенные управления, таможни, таможенные посты, пункты.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Таможенные платежи
    </summary>
    <p>Таможенная пошлина, налоги, таможенные сборы, сборы за выдачу лицензий, платы и другие платежи, взимаемые в установленном порядке таможенными органами Российской Федерации.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Таможенные пошлины
    </summary>
    <p>Налоги, которыми облагаются товары и иные предметы, пропускаемые через таможенную границу страны. По объекту обложения Т.п. делятся на ввозимые, вывозимые и транзитные; по методу исчисления - на адвалорные, специфические и комбинированные. В исключительных
        случаях могут применяться особые виды таможенных пошлин. </p>
</details>

<details>
    <summary class="terminalogy_header">
        Таможенные процедуры
    </summary>
    <p>Осуществление контроля за соблюдением порядка перемещения товаров и имущества, досмотр предметов, оформление таможенных обеспечений, проверка правильности заполнения деклараций (грузовой декларации, декларации таможенной стоимости), начисление надлежащих
        к уплате сумм, совершаемые органами таможенного контроля во исполнение законодательства по таможенным вопросам. </p>
    <details>

    </details>

    <summary class="terminalogy_header">
        Таможенные формальности
    </summary>
    <p> Предусмотренные законами и актами соответствующих исполнительно-распорядительных органов страны обязательные требования, без выполнения которых транспортные средства, товары и иные предметы не могут быть пропущены через таможенную границу. Таможенные
        формальности включают такие такие действия как досмотр товаров и иных предметов, осмотр транспортных средств, проверку и оформление документов, определение страны происхождения товара, исчисление и взимание таможенных пошлин, налогов и сборов.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Таможенный досмотр
    </summary>
    <p>Одна из форм таможенного контроля, содержанием которой является обследование перемещаемых через таможенную границу страны транспортных средств, товаров и иных предметов, предполагающее возможность вскрытия, демонтажа, разборки полностью или частично
        таких средств, грузовых и багажных мест, ручной клади, международных почтовых отправлений и любых других предметов в целях установления законности перемещения их через таможенную границу, учета, обложения таможенными пошлинами и сборами.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Таможенный контроль
    </summary>
    <p>Обеспечение соблюдения законодательства Российской Федерации о таможенном деле, а также законодательства Российской Федерации и международных договоров Российской Федерации, контроль за исполнением которых возложен на таможенные органы Российской
        Федерации.
    </p>
</details>

<details>
    <summary class="terminalogy_header">
        Таможенный контроль
    </summary>
    <p>Проверка документов, маркировки и обеспечений, досмотр и учет транспортных средств, товаров, валюты, ценностей и другие регулируемые законодательством страны действия должностных лиц таможни, направленные на обеспечение соблюдения юридическими и физическими
        лицами порядка перемещения через таможенную границу Российской Федерации товаров и иных предметов.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Таможенный режим
    </summary>
    <p>Совокупность положений, определяющих статус товаров и транспортных средств, перемещаемых через таможенную границу Российской Федерации, для таможенных целей.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Таможенный сбор за таможенное оформление
    </summary>
    <p>Плата за таможенное оформление транспортных средств (в том числе средств индивидуального пользования) и товаров, включая товары не для коммерческих целей, перемещаемые в несопровождаемом багаже, международных почтовых отправлениях.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Таможенный союз
    </summary>
    <p> Соглашение двух или более государств о ликвидации таможенных границ между ними и образовании таможенной территории с единым таможенным тарифом, применяемым по отношению к другим странам. Товары внутри Таможенного Союза обращаются свободно, т. е. без
        взимания таможенных пошлин и налогов.</p>
</details>

<details>
    <summary class="terminalogy_header">
        Таможенный тариф
    </summary>
    <p>Систематизированный свод ставок таможенных пошлин, которыми облагаются товары и иные предметы при перемещении через таможенную границу государства, издавшего Таможенный тариф. Чаще всего таможенный тариф содержит: детализированные названия товаров,
        облагаемых таможенными по </p>
</details>


{% endblock %}